<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/weather5.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/images/MANAN2.jpeg">
  </div>
  
  {{>footer}}
  
</body>

</html>