<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <link rel="icon" href="/images/weather5.jpg">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>It's Home Page</p>

    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <h3> Weather forecast for the input Location</h3>
    <p id="message-1"></p>
    <p id="message-2"></p>

  </div>
  
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>